body {
	width: 100%;
	margin: auto;
	background-color: linear-gradient (white, black);
}


a {
	text-decoration: none;
	font-family: Futura, sans-serif;
	color: grey;

}

.nav {
	position: fixed;
	z-index: 10;
	top: 0;
	width: 100%;
}

#brand {
	padding-left: 10%;
}

.nav-voci {
	padding-left: 60%;
}

#banner{
	width: 100%;
	height: 100%;
	position:fixed;
	top: 0px;
	background: url(imgs/immagine_copertina-2.jpg);
	background-size: cover;
	background-position: center;
}

#container-under {
	width: 100%;
	position: relative;
	top: 1000px;
	background-color: white;
	height: 3000px;
	margin: 0;
}

#banner h1 {
	text-align: center;
	padding-top: 26%;
	font-family: "roboto condensed", sans-serif;
	font-size: 300%;
	color: rgba(255, 255, 255, 0.5);

}

#container-under h3 {
	color: black;
	font-family: Futura, serif;
	text-align: center;
	padding-top: 10%;
	font-size: 300%;
}

#container-under p {
	text-align: center;
	font-family: futura-light , sans-serif;
	color: rgba(0, 0, 0, 0.5);
	top: 2%;
	padding-left: 9%;
	padding-right: 9%;
	padding-bottom: 30px;
}

.img-sotto img {
	float: left;
	display: inline;
	width: 30%;
	padding-left: 5%;
}

.row li {
  width: 30%;
  float: left;
  list-style: none;
  padding-left: 5%;
  padding-top: 5%;
  text-align: center;
  font-family: helvetica, sans-serif;

}

img {
  border: 0 none;
  display: inline-block;
  height: auto;
  max-width: 100%;
  vertical-align: middle;
}
footer {
	background-color: #ffffff;
	width: 100%;
	height: 20%;
}

.col-lg-4 {
	text-align: center;
}
.col-md-7 h2, span, p {
	text-align: center;
}

#box {
	display: table-cell;
	vertical-align:middle;

}



